<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="./favicon.png" type="image/png" />
    <title>MedEzy</title>
</head>
<body>
    <div class="container">
        <div id="logo">
            <img id="logo" src="logo.svg">
        </div>
        <div class="scrollable-div">
            <div id="scrollable-div">
                <div class="chatbox">
                        
                </div>
            </div>
        </div>
        <div class="input-box">
            <div id="input-box">
                <div class="input">
                    <input id="input" type="text" placeholder="Ask AI">
                </div>
                <div class="submit-button">
                    <a href="#">
                        <img src="submit.svg" id="submit-button">
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>